<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>list all expenses</h1>
<table style="border: 1px solid;border-collapse: collapse;">
    <tr style="border: 1px solid;">
        <th style="border: 1px solid;">index</th>
        <th style="border: 1px solid;">count</th>
        <th style="border: 1px solid;">name</th>
        <th style="border: 1px solid;">amount</th>
        <th style="border: 1px solid;">expenseEntity date</th>
        <th style="border: 1px solid;">Delete</th>
        <th style="border: 1px solid;">Modify</th>
    </tr>
    <tr th:each="expenseEntity,status:${expenses}" style="border: 1px solid;">
        <td style="border: 1px solid;" th:text="${status.index}"></td>
        <td style="border: 1px solid;" th:text="${status.count}"></td>
        <td style="border: 1px solid;" th:text="${expenseEntity.name}"></td>
        <td style="border: 1px solid;" th:text="${expenseEntity.amount}"></td>
        <td style="border: 1px solid;" th:text="${#dates.format(expenseEntity.createdAt, 'dd-MMM-yyyy/hh:mm:ss')}"></td>
        <td><a th:href="@{/records/delete(id=${expenseEntity.id})}">Del</a></td>
        <td><a th:href="@{/records/modify(id=${expenseEntity.id})}">Modify</a></td>
    </tr>
</table>
</body>
</html>